[submodule "QCEngine/vendor/spdlog"]
	path = QCEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "QCEngine/vendor/glfw"]
	path = QCEngine/vendor/glfw
	url = https://github.com/MilesRogers3D/glfw.git
